@{
    Layout = null;
}
<h2>Bronnen</h2>
<a href="https://www.learnrazorpages.com/razor-pages/ajax/unobtrusive-ajax#:~:text=Unobtrusive%20AJAX%2C%20like%20other%20unobtrusive,elements%20when%20they%20are%20clicked.">https://www.learnrazorpages.com/razor-pages/ajax/unobtrusive-ajax#:~:text=Unobtrusive%20AJAX%2C%20like%20other%20unobtrusive,elements%20when%20they%20are%20clicked.</a>
<br />
<a href="https://dotnet.microsoft.com/en-us/apps/aspnet">https://dotnet.microsoft.com/en-us/apps/aspnet</a>
<br />
<a href="https://jakeydocs.readthedocs.io/en/latest/fundamentals/middleware.html#:~:text=Middleware%20are%20software%20components%20that,is%20invoked%20in%20the%20pipeline.">https://jakeydocs.readthedocs.io/en/latest/fundamentals/middleware.html#:~:text=Middleware%20are%20software%20components%20that,is%20invoked%20in%20the%20pipeline.</a>
<br />
<a href="https://www.c-sharpcorner.com/UploadFile/annathurai/cookies-in-Asp-Net/">https://www.c-sharpcorner.com/UploadFile/annathurai/cookies-in-Asp-Net/</a>
<br />
<a href=""></a>