@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@{
    ViewData["Title"] = @Loc["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@Loc["WELCOME"]</h1>
    <p>@Loc["Welcom to the car rent company. I hope you can find what you want."]</p>
    <p>@ViewBag.Bronnen</p>
</div>
