@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@model AccessDeniedModel
@{
    ViewData["Title"] = @Loc["Access denied"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Loc["You do not have access to this resource."]</p>
</header>
