@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@model ConfirmEmailModel
@{
    ViewData["Title"] = @Loc["Confirm email"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
