@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = @Loc["Confirm email change"];
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
