@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Loc
@model LockoutModel
@{
    ViewData["Title"] = @Loc["Locked out"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Loc["This account has been locked out, please try again later."]</p>
</header>
